<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Post a job position or create your online resume by TheJobs!">
<meta name="keywords" content="">

<title>The Jobs</title>

<!-- Styles -->
<link href="http://localhost:8000/static/assets/css/app.min.css" rel="stylesheet">
<link href="http://localhost:8000/static/assets/css/custom.css" rel="stylesheet">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

<!-- Favicons -->
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" href="http://localhost:8000/static/assets/img/favicon.ico">
</head>