<nav class="navbar">
    <div class="container">

      <!-- Logo -->
      <div class="pull-left">
        <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

        <div class="logo-wrapper">
          <a class="logo" href="index.html"><img src="http://localhost:8000/static/assets/img/logo.png" alt="logo"></a>
          <a class="logo-alt" href="index.html"><img src="http://localhost:8000/static/assets/img/logo-alt.png" alt="logo-alt"></a>
        </div>

      </div>
      <!-- END Logo -->

      <!-- User account -->
      <div class="pull-right user-login">
        <% if (company){ %>
          <ul class="nav-menu">
            <li>
              <a href="#"><%= company.name %></a>
              <ul>
                <li><a href="/company/dashboard/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
          &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;
       <% } else { %>
        <a style="font-size: 15px"  href="/company/login">Login</a>  &nbsp; &nbsp;  or &nbsp; &nbsp; <a style="font-size: 15px" href="/company/register">register</a>
        &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;     &nbsp;
 
        <div class="pull-right user-login">
          <a class="btn btn-sm btn-success" href="/company">employeer</a>
        </div>
        <% } %>     
      </div>
     
      <!-- END User account -->

      <!-- Navigation menu -->
      <ul class="nav-menu">
        <li>
          <a class="active" href="/company/dashboard">Home</a>
        </li>
        <li>
          <a href="/company/dashboard/jobs/post">post a jobs</a>
        </li>
        <!-- <li>
          <a href="/profile">Profile</a>
        </li> -->
        <li>
          <a href="/company/dashboard/jobs/">Job Lists</a>
        </li>
      
      </ul>
      <!-- END Navigation menu -->

    </div>
  </nav>