<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/header')%>

  <body class="nav-on-header smart-nav">

    <!-- Navigation bar -->
    <%-include('../partials/menu') %>
    <header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <img src="http://localhost:8000/static/assets/img/avatar.jpg" alt="">
            </div>
  
            <div class="col-xs-12 col-sm-8 header-detail">
              <div class="hgroup">
                <h1>John Doe</h1>
                <h3>Front-end developer</h3>
              </div>
              <hr>
              <p class="lead">Profile deskripsi.</p>
  
              <ul class="details cols-2">
                <li>
                  <i class="fa fa-map-marker"></i>
                  <span>Mountain view, CA</span>
                </li>
  
                <li>
                  <i class="fa fa-globe"></i>
                  <a href="#">mywebsite.me</a>
                </li>
  
                <li>
                  <i class="fa fa-money"></i>
                  <span>$85 / hour</span>
                </li>
  
                <li>
                  <i class="fa fa-birthday-cake"></i>
                  <span>27 years-old</span>
                </li>
  
                <li>
                  <i class="fa fa-phone"></i>
                  <span>(+1) 123 456 7890</span>
                </li>
  
                <li>
                  <i class="fa fa-envelope"></i>
                  <a href="#">hi@mywebsite.me</a>
                </li>
              </ul>
  
              <div class="tag-list">
                <span>HTML5</span>
                <span>CSS3</span>
                <span>Bootstrap</span>
                <span>ReactJS</span>
                <span>SASS / LESS</span>
                <span>Grunt / Gulp</span>
                <span>Wordpress</span>
              </div>
            </div>
          </div>
  
          <div class="button-group">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
  
            <div class="action-buttons">
              <a class="btn btn-primary" href="/profile/update">Update Profile</a>
             
            </div>
          </div>
        </div>
      </header>
    <main>


        <!-- Education -->
        <section>
          <div class="container">
  
            <header class="section-header">
              <span>Latest degrees</span>
              <h2>Education</h2>
            </header>
            
            <div class="row">
              <div class="col-xs-12">
                <div class="item-block">
                  <header>
                    <img src="http://localhost:8000/static/assets/img/logo-mit.png" alt="">
                    <div class="hgroup">
                      <h4>S1 <small>Sistem Informasi</small></h4>
                      <h5>Universitas Brawijaya</h5>
                    </div>
                    <h6 class="time">2012 - 2014</h6>
                  </header>
                  <div class="item-body">
                    <p>Deskripsi universitas.</p>
                  </div>
                </div>
              </div>
  
             
            </div>
  
          </div>
        </section>
        <!-- END Education -->
  
  
        <!-- Work Experience -->
        <section class="bg-alt">
          <div class="container">
            <header class="section-header">
              <span>Past positions</span>
              <h2>Work Experience</h2>
            </header>
            
            <div class="row">
  
              <!-- Work item -->
              <div class="col-xs-12">
                <div class="item-block">
                  <header>
                    <img src="http://localhost:8000/static/assets/img/logo-google.jpg" alt="">
                    <div class="hgroup">
                      <h4>Google</h4>
                      <h5>Senior front-end developer</h5>
                    </div>
                    <h6 class="time">Jan 2016 - Present</h6>
                  </header>
                  <div class="item-body">
                    <p>Responsibilities:</p>
                    <ul>
                      <li>list responsibility</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- END Work item -->
  
            </div>
  
          </div>
        </section>
        <!-- END Work Experience -->
  
    </main>
    <%- include('../partials/footer')%>
  </body>
</html>
